body{

margin:0;

overflow:hidden;

background:black;

}


#info{

position:absolute;

top:15px;

left:15px;

padding:15px;

background:rgba(0,0,0,0.55);

color:white;

font-family:Arial;

border-radius:10px;

line-height:1.5;

}
